* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: black;
}
.bgVideo {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  margin-top: -250px;
}
.container {
  position: absolute;
  z-index: 2;
  background: linear-gradient(#ffcc33, rgb(247, 75, 75));
  padding: 30px 90px;
  left: 50%;
  transform: translateX(-48%);
  top: 37%;
  border-radius: 20px;
}
.time {
  font-size: 92px;
  color: white;
}
.before {
  position: absolute;
  margin-left: -125px;
  margin-top: -80px;
  border-radius: 50%;
  padding: 60px;
  background: linear-gradient(blue, white, green);
  filter: blur(5px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.uz {
  position: absolute;
  top: 0;
  left: -25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: black;
}
@media (min-height: 1024px) {
  .bgVideo {
    margin-top: -50px;
  }
}
@media (max-width: 500px) {
  .contain {
    max-width: 500px;
    overflow: hidden;
  }
  .container {
    padding: 20px 40px;
  }
  .before {
    margin-left: -70px;
    margin-top: -100px;
  }
  .uz {
    margin-top: -30px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 20px 20px;
  }
  .before {
    margin-left: -60px;
    margin-top: -100px;
  }
  .uz {
    margin-top: -30px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 20px 20px;
  }
  .time {
    font-size: 76px;
  }
  .before {
    margin-left: -40px;
    margin-top: -110px;
  }
  .uz {
    margin-top: -40px;
    margin-left: 15px;
  }
}
